* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

nav{
    gap: 2em;
    display: flex;
    align-items: center;
}

.logo {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    color: #39374D;
    text-transform: uppercase;
}

.freeTrial {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 31px;
    color: #39374D;
}
a {
    text-decoration: none;
    color: #EEEEEE;
}
a:hover {
    cursor: default;
    text-decoration: none;
}

/*------------------------------------------------*/


.buttonHeader {
    display: flex;
    justify-content: center;
}

.textLogIn {
    width: 100%;
    padding: 0.6em 1.7em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*------------------------------------------------*/

.containerProfile {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.menu {
    z-index: 25;
    justify-self: end;
    text-align: left;
}

.logoLoginPage {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    /*line-height: 85px;*/
    color: #39374D;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding-bottom: 9em;
    grid-template-columns: 60%;
}

.titleBlock1 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 64px;
    margin: 0;
    padding: 1.3em 0 1em;
    color: #39374D;
}

.textBlock1 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
    width: 24em;
}

.buttonBlock1 {
    display: flex;
    justify-content: center;
}

.textButtonBlock1 {
    width: 100%;
    padding: 0.6em 1.7em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

 /*----------------------------------------------------------*/

.block2 {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding: 4em 0 4.5em;
    grid-template-columns: 50% 50%;
}

.titleBlock2 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 54px;
    padding: 1em 0 1.7em;
    margin: 0;
    text-align: center;
    color: #39374D;
}

.textBlock2 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 26px;
    margin: 0;
    padding-top: 0.4em;
    text-align: center;
    color: #39374D;
}

/*------------------------------------------------------------*/

.titleBlock3 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 54px;
    padding: 1.3em 0 1.5em;
    margin: 0;
    text-align: center;
    color: #39374D;
}

.notesBlock3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block3 {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 4em;
}

.imgNote1 {
    background: url("public/img/noteWithMoonBlock3.svg");
}

.titleNote1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #39374D;
}

.textNote1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.titleNote2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #39374D;
}

.textNote2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.titleNote3 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #39374D;
}

.textNote3 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #39374D;
}

/*----------------------------------------------------------*/

.block4 {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding: 3em 0 3em;
    grid-template-columns: 50% 50%;
}

.buttonBlock4 {
    display: flex;
    justify-content: center;
}

.textButtonBlock4 {
    width: 100%;
    padding: 0.6em 1.7em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

.titleBlock4 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 54px;
    padding: 1em 0 1.5em;
    margin: 0;
    text-align: center;
    color: #39374D;
}

.textBlock4 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #39374D;
    margin: 0;
    padding-bottom: 3em;
}

/*------------------------------------------------------*/

hr {
    width: 80%;
}

.block5 {
    background: #E1D5FC;
    padding-bottom: 4.5em;
}

.contentBlock5 {
    max-width: 1140px;
    margin: 0 auto;
}

.titleBlock5 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 54px;
    padding: 1.5em 0 1.5em;
    margin: 0;
    text-align: center;
    color: #39374D;
}

.pricesBlock5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.firstPriceBlock {
    padding: 0.2em 1.5em;
    border-radius: 30px 0;
    background: #EEEEEE;
    box-shadow: 6px 6px 20px rgba(79, 79, 79, 0.3);
}

.amount1 {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 36px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.price1 {
    font-family: PT Sans;
    font-weight: normal;
    margin: 0;
    padding: .5em 0 .4em;
    font-size: 36px;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.oneMonth {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    padding: 0.7em 0 0.4em;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.month1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.buttonBlock5 {
    display: flex;
    text-align: center;
    padding-bottom: 0.5em;
    justify-content: center;
}

.textButtonBlock5 {
    width: 100%;
    padding: 0.6em 3.5em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*---------------------*/

.secondPriceBlock {
    padding: 0 4em;
    border-radius: 30px 0;
    background: #EEEEEE;
    box-shadow: 6px 6px 20px rgba(79, 79, 79, 0.3);
}

.amount2 {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.price2 {
    font-family: PT Sans;
    font-weight: normal;
    margin: 0;
    padding: .5em 0 .6em;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.oneMonth2 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    padding: 1.5em 0 0.4em;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.month2 {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.buttonBlock5_2 {
    display: flex;
    text-align: center;
    padding-bottom: 1.5em;
    justify-content: center;
}

.textButtonBlock5_2 {
    width: 100%;
    padding: 0.7em 4.5em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*---------------------*/

.thirdPriceBlock {
    padding: 0.2em 1.5em;
    border-radius: 30px 0;
    background: #EEEEEE;
    box-shadow: 6px 6px 20px rgba(79, 79, 79, 0.3);
}

.amount3 {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 36px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.price3 {
    font-family: PT Sans;
    font-weight: normal;
    margin: 0;
    padding: .5em 0 .4em;
    font-size: 36px;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.oneMonth3 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    padding: 0.7em 0 0.4em;
    align-items: center;
    text-align: center;
    color: #39374D;
}

.month3 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    color: #8878AF;
}

.buttonBlock5_3 {
    display: flex;
    text-align: center;
    padding-bottom: 0.5em;
    justify-content: center;
}

.textButtonBlock5_3 {
    width: 100%;
    padding: 0.6em 3.5em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*------------------------------------------*/

.block6 {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
}

.titleBlock6 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 54px;
    padding: 2em 0 1.2em;
    margin: 0;
    text-align: center;
    color: #39374D;
}

.login-conteiner{
    width: 40%;
}

input[type=email] {
    width: 100%;
    border-radius: 30px 0;
    padding: 20px;
    background: 0;
    border: 2px solid #8878AF;
    box-sizing: border-box;
    font-size: larger;
}

.email {
    padding: 2em 0 .5em;
    display: flex;
    justify-content: center;
}

.buttonBlock6 {
    padding: 2em 0 .5em;
    display: flex;
    justify-content: center;
}

.button-conteinerBlock6{
    width: 40%;
}

.textButtonBlock6 {
    width: 100%;
    padding: 0.6em 3.5em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*-----------------------------------------------*/

footer {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.titleFooter {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;
    color: #39374D;
    padding: 2em 0 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.contacts {
    display: grid;
    gap: 4em;
    justify-content: center;
    grid-template-columns: 20% 10% 20%;
}

.profile {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #39374D;
    text-align: center;
}

.aboutUs {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
}

.contacts_1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
    margin-bottom: 1em;
}

.media {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.termAndPrivacy {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    gap: 5em;
}

.termReg {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.privacyReg {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.copyrights {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    padding: 0 0 2em;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

/*------------------------------------------------------*/

footer {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.titleFooterSettings {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;
    color: #39374D;
    padding: 1.5em 0 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.contactsSettings {
    display: grid;
    gap: 4em;
    justify-content: center;
    grid-template-columns: 20% 10% 20%;
}

.profileSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #39374D;
    text-align: center;
}

.aboutUsSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
}

.contactsSettings_1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
    margin-bottom: 1em;
}

.mediaSettings {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.termAndPrivacySettings {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    gap: 5em;
}

.termSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.privacySettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.copyrigthSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    padding: 0 0 2em;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

