* {
    box-sizing: border-box;
}

header {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

body {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
}

a {
    text-decoration: none;
}

.logoActivity {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #39374D;
    text-transform: uppercase;
}

.navActivity {
    gap: 3em;
    display: flex;
    align-items: center;
}

.menuActivity {
    justify-self: end;
    text-align: left;
}

.findingCourseActivity {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}

.aboutUsActivity {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}

.myProfileInActivity {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}
.burgerActivity {
    display: block;
}
a {
    text-decoration: none;
    color: #EEEEEE;
}
a:hover {
    cursor: default;
    text-decoration: none;
}
.messages {
    display: flex;
    justify-content: center;
    background-color: #ff0000;
    text-align: center;
    padding: 5px;
    margin: 5px 0 15px 0;
    color: #000;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

/*------------------------------------------------------*/

footer {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.titleFooterSettings {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;
    color: #39374D;
    padding: 1.5em 0 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.contactsSettings {
    display: grid;
    gap: 4em;
    justify-content: center;
    grid-template-columns: 20% 10% 20%;
}

.profileSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #39374D;
    text-align: center;
}

.aboutUsSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
}

.contactsSettings_1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
    margin-bottom: 1em;
}

.mediaSettings {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.termAndPrivacySettings {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    gap: 5em;
}

.termSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.privacySettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.copyrigthSettings {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    padding: 0 0 2em;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}
