* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

nav{
    gap: 2em;
    display: flex;
    align-items: center;
}

.logo {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    color: #39374D;
    text-transform: uppercase;
}

.freeTrial {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 31px;
    color: #39374D;
}
a {
    text-decoration: none;
    color: #EEEEEE;
}
a:hover {
    cursor: default;
    text-decoration: none;
}

/*------------------------------------------------*/


.buttonHeader {
    display: flex;
    justify-content: center;
}

.textLogIn {
    width: 100%;
    padding: 0.6em 1.7em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}

/*------------------------------------------------*/

.containerProfile {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.menu {
    justify-self: end;
    text-align: left;
}

.logoLoginPage {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    /*line-height: 85px;*/
    color: #39374D;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding-bottom: 9em;
    grid-template-columns: 60%;
}

.titleBlock1 {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 64px;
    margin: 0;
    padding: 1.3em 0 1em;
    color: #39374D;
}

.textBlock1 {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
    width: 24em;
}

.buttonBlock1 {
    display: flex;
    justify-content: center;
}

.textButtonBlock1 {
    width: 100%;
    padding: 0.6em 1.7em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: PT Sans;
    text-align: center;
    color: white;
    font-size: 24px;
}